In [1]:
#PrimerNotebook

import pandas as pd

df = pd.read_excel (r'C:\Users\H241509\Downloads\092821_test_phyton.xlsx)
                    df = pd.DataFrame(data, columns= ['Product'])
                    print (df)

SyntaxError: EOL while scanning string literal (<ipython-input-1-bcabe59c5ae8>, line 5)

In [4]:
df = pd.read_excel (r'C:\Users\H241509\Downloads\092821_test_phyton.xlsx')

NameError: name 'pd' is not defined

In [7]:
import pandas as pd
df = pd.read_excel (r'C:\Users\H241509\Downloads\092821_test_phyton.xlsx')
print (df)

    Product  Price
0  Computer    700
1    Tablet    250
2   Printer    120
3    Laptop   1200

In [8]:
import pandas as pd
data = pd.read_excel (r'C:\Users\H241509\Downloads\092821_test_phyton.xlsx')
df = pd.DataFrame(data, columns= ['Product'])
print (df)

    Product
0  Computer
1    Tablet
2   Printer
3    Laptop

In [13]:
import pandas as pd
df = pd.read_excel (r'C:\Users\H241509\Downloads\092821_test_phyton.xlsx')
df.iloc[1:2]
print (df)

    Product  Price
0  Computer    700
1    Tablet    250
2   Printer    120
3    Laptop   1200

In [15]:
import pandas as pd
df = pd.read_excel (r'C:\Users\H241509\Downloads\092821_test_phyton.xlsx')
df.head ()

    Product  Price
0  Computer    700
1    Tablet    250
2   Printer    120
3    Laptop   1200

In [17]:
df.loc[0, :]

Product    Computer
Price           700
Name: 0, dtype: object

In [21]:
df.loc[0:2, :]

    Product  Price
0  Computer    700
1    Tablet    250
2   Printer    120

In [22]:
df.loc[0:3, 'Product']

0    Computer
1      Tablet
2     Printer
3      Laptop
Name: Product, dtype: object